
.flex-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  padding: 0;
  margin: 0;
  list-style: none;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-content: baseline;
}

.flex-item {
  padding: 5px;
  width: 273px;
  margin-top: 10px;
  align-self: flex-start;
}
